Repository nuphory/nuphory.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path "" --write, eslint

.lintstagedrc:

{
	"*.{ts,tsx,cts,mts,js,jsx,cjs,mjs}": [
		"prettier --ignore-path \"\" --write",
		"eslint"
	],
	"*{.md,rc*,config,.json,.yaml}": ["prettier --ignore-path \"\" --write"]
}

ignore dist folder
  .gitignore
Due: none

gitignore order
  .gitignore
Due: none

Header Sparklies :)
  apps/web/src/lib/components/HamburgerToggle.svelte
  apps/web/src/lib/styles/app.scss
  apps/web/src/routes/(header)/CartDrawer.svelte
  apps/web/src/routes/(header)/HamburgerToggle.svelte
  apps/web/src/routes/(header)/Header.svelte
  apps/web/src/routes/(header)/Navigation.svelte
  apps/web/src/routes/(header)/ThemeSwitcher.svelte
  apps/web/src/routes/+layout.svelte
Due: none

Update streaming.ts
  src/lib/assets/buttons/streaming.ts
Due: prettier --ignore-path "" --write, eslint

git subrepo test
  README.md
Due: prettier --ignore-path "" --write

move impressum to different page to prevent it from being indexed on google
  pnpm-lock.yaml
  src/lib/components/Footer.svelte
  src/routes/impressum/+page.svelte
Due: prettier --ignore-path "" --write

update some deps
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path "" --write

touch file
  .prettierignore
Due: none

Remove merch section
  src/routes/+page.svelte
Due: none
